# ----------------------------------------------------------------------------------#
#                                                                                   #
#   Copyright (C) 2009 - 2025 Coozila! Licensed under the MIT License.              #
#   Coozila! Team    lab@coozila.com                                                #
#                                                                                   #
# ----------------------------------------------------------------------------------#


# ----------------------------------------------------------------------------------#

#   STACK NETWORK    ---------------------------------------------------------------#

networks:                                                                           #

    #   Private network for application services    --------------------------------#

    kabballa_private_network:
        #
        #   SSH command to create the Docker network: 
        #   docker network create --driver bridge kabballa_private_network --subnet=172.16.0.0/16
        #
        external: true

    #   Private network for application services    --------------------------------#

    #kabballa_private_network:
    #    driver: bridge 
    #    driver_opts:
    #        com.docker.network.enable_ipv6: "false"
    #    ipam:
    #        driver: default
    #        config:
    #            - subnet: 172.16.238.0/24
    #              gateway: 172.16.238.1

# ----------------------------------------------------------------------------------#

#   STACK SERVICES    --------------------------------------------------------------#

services:

    # ------------------------------------------------------------------------------#

    #   PHPMYADMIN SERVER    -------------------------------------------------------#

    phpmyadmin:
        # Use the latest version of the PhpMyAdmin image
        image: phpmyadmin:${SERVER_VERSION_PHPMYADMIN}

        # Name of the PhpMyAdmin container
        container_name: phpmyadmin${SERVER_VERSION_PHPMYADMIN}.${STACK_NAME}

        # Hostname for the PhpMyAdmin container
        hostname: ${PHPMYADMIN_HOSTNAME:-localhost}

        # Restart policy for the container
        restart: always

        ports:
            #
            # Port mapping for PhpMyAdmin
            #

            - "${LOCAL_LISTEN_ADDR:-127.0.0.1}:${HOST_PORT_PHPMYADMIN}:${CONTAINER_PORT_PHPMYADMIN}"

        env_file:
            #
            #   Load environment variables from the specified .env file
            #

            - .env

        environment:
            #
            #   Environment variables for PhpMyAdmin
            #

            - PMA_HOST=${DADATABASE_HOST_MYSQL_SERVER:-mysql}

            #
            #   Comma-separated hostnames of the database servers
            #

            #- PMA_HOSTS=${MULTIPLE_HOSTS_PHPMYADMIN}

            #
            #   Port of the database server
            #

            - PMA_PORT=${PHPMYADMIN_PORT:-3306}

            #
            #   Setup your root user and password for PhpMyAdmin instance in your .env file, default database is phpmyadmin
            #

            #- PMA_PMADB=${DATABASE_PHPMYADMIN}

            #
            #   Setup your root user and password for PhpMyAdmin instance in your .env file, for control user comment the next lines
            #

            - PMA_USER=${USER_PHPMYADMIN}
            - PMA_PASSWORD=${ROOT_PASSWORD_MYSQL}
 
            #
            #   Control host for phpMyAdmin. Uncomment if using control features and setup your .env file variable
            #

            #- PMA_CONTROLHOST=${CONTROL_HOST_PHPMYADMIN}

            #
            # Control user for phpMyAdmin. Uncomment if using control features and setup your .env file variable
            #

            #- PMA_CONTROLUSER=${CONTROL_USER_PHPMYADMIN}

            #
            # Control password for phpMyAdmin. Uncomment if using control features and setup your .env file variable
            #

            #- PMA_CONTROLPASS=${CONTROL_PASSWORD_PHPMYADMIN}

            #
            #   Setup your upload and memory limit in .env file
            #

            - UPLOAD_LIMIT=${UPLOAD_LIMIT_PHPMYADMIN}
            - MEMORY_LIMIT=${MEMORY_LIMIT_PHPMYADMIN}

            #
            #   Setup the maximum execution time for scripts in seconds in your .env file
            #

            - MAX_EXECUTION_TIME=${MAX_EXECUTION_TIME_PHPMYADMIN}

            #
            #   Setup the "ServerName" for the phpMyAdmin instance in your .env file
            #

            - ServerName=${SERVER_NAME_PHPMYADMIN:-localhost}

            #
            #   If defined, this option will hide the PHP version. Setup your .env file variable.
            #

            - HIDE_PHP_VERSION=${HIDE_PHP_VERSION_PHPMYADMIN:-true}

            #
            #   Uncomment if query history features and setup your .env file variable
            #

            #- PMA_QUERYHISTORYDB=${QUERYHISTORY_DATABASE_PHPMYADMIN}
            #- PMA_QUERYHISTORYMAX=${PMA_QUERYHISTORYMAX}

            #
            # Allows entering a database server hostname on the login form
            #

            #- PMA_ARBITRARY=${PMA_ARBITRARY}

            #
            # Verbose name of the database server
            #

            #- PMA_VERBOSE=${PMA_VERBOSE}

            #
            #   Socket file for the database connection
            #

            #- PMA_SOCKET=${PMA_SOCKET}

            #
            #   Fully qualified path for phpMyAdmin
            #

            #- PMA_ABSOLUTE_URI=${PMA_ABSOLUTE_URI}

            #
            #   Path where files can be saved for import
            #

            #- PMA_UPLOADDIR=${PMA_UPLOADDIR}

            #
            #   Path where exported files can be saved
            #

            #- PMA_SAVEDIR=${PMA_SAVEDIR}


        volumes:
            #
            # Mount configuration files for PhpMyAdmin
            #

            - ./compose/phpmyadmin/phpmyadmin.inc.php:/etc/phpmyadmin/config.user.inc.php

        depends_on:
            #
            # Ensure MySQL is started before PhpMyAdmin
            #

            - mysql

        networks:
            #
            # Connect to the private network
            #

            - kabballa_private_network

        extra_hosts:
            #
            # Add extra host entries for internal resolution
            #

            - "host.docker.internal:host-gateway"
            - "${LOCAL_LISTEN_ADDR:-127.0.0.1}:host-gateway"


# ----------------------------------------------------------------------------------#