[mysqld]
# SQL Mode configuration: Can be used to set specific SQL modes for the server.
sql_mode =

# Transaction Isolation Level: Sets the default isolation level for transactions.
# READ-COMMITTED ensures that a transaction can only read committed data.
transaction_isolation = READ-COMMITTED

# Lock Wait Timeout: Specifies the time in seconds that a transaction will wait for a lock before timing out.
lock_wait_timeout = 60

# InnoDB Lock Wait Timeout: Specifies the time in seconds that InnoDB will wait for a lock before timing out.
innodb_lock_wait_timeout = 60

# InnoDB Rollback on Timeout: If set to 1, InnoDB will automatically roll back the transaction if a lock wait timeout occurs.
innodb_rollback_on_timeout = 1

# InnoDB Buffer Pool Size: Defines the size of the InnoDB buffer pool. This cache holds data and indexes in memory.
innodb_buffer_pool_size = 16G  # Ajustați în funcție de utilizarea aplicației

# InnoDB Log File Size: Sets the size of each log file in the InnoDB log group.
# Increasing this size can help improve performance, especially for write-heavy workloads.
innodb_log_file_size = 1G

# InnoDB Flush Log at Transaction Commit: Controls when InnoDB writes the log buffer to the log files.
# Setting this to 2 can improve performance but may affect durability in case of a crash.
innodb_flush_log_at_trx_commit = 2

# InnoDB Flush Method: Defines the method used for flushing data to disk.
# O_DIRECT can help reduce double buffering and improve performance.
innodb_flush_method = O_DIRECT

# InnoDB Log Buffer Size: Sets the size of the buffer used to hold changes before they are written to the log files.
# Larger log buffer sizes can improve performance for write-heavy transactions.
innodb_log_buffer_size = 16M  # Dimensiune adecvată pentru majoritatea aplicațiilor

# InnoDB I/O Capacity: Defines the number of I/O operations per second that InnoDB will perform.
# This helps control the amount of I/O activity for InnoDB operations.
innodb_io_capacity = 2000

# InnoDB Full-Text Search Cache Size: Defines the size of the cache for Full-Text Search index entries.
# Increasing this can help improve performance for large FTS indexes.
innodb_ft_cache_size = 128M

# Maximum connections allowed
max_connections = 300

# Character set configuration
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Query Cache
query_cache_size = 0  # Dezactivați cache-ul de interogări, deoarece este depreciat în versiunile recente
query_cache_type = OFF

# Timeout pentru conexiuni inactive. Crește timpul pentru a reduce riscul de timeout.
wait_timeout = 7200
interactive_timeout = 7200

# Timpul de așteptare pentru citirea sau scrierea pachetelor. Ajustează în funcție de latența rețelei.
net_read_timeout = 7200
net_write_timeout = 7200

# bind-address = 0.0.0.0